{% extends "dashboards/admin/base_admin.html" %} {% block title %}Admin
Dashboard | Obra{% endblock %} {% block content %}
{% load static %}
<section id="dashHomeTab" class="tab-section">
  <!-- Stats Cards -->
  <div
    class="grid grid-cols-1 xl:grid-cols-4 xl:grid-cols-2 gap-4 2xl:gap-6 md:px-7 py-8 px-3"
  >
    <div
      class="bg-white flex flex-col rounded-xl px-5 py-2 2xl:px-6 2xl:py-6 border border-[#1B202214]"
    >
      <div>
        <p class="md:text-[20px] text-[18px] 2xl:text-[24px]">
          Ingresos totales
        </p>
      </div>
      <div class="flex items-center justify-between">
        <div class="">
          <h3 class="font-bold text-[20px] 2xl:text-[28px] mt-5">$26,352</h3>
          <p class="text-[#B7B9BA] text-[16px]">la semana pasada</p>
        </div>
        <img src="{% static 'img/money.png' %}" alt="money" class="max-w-[50px] 2xl:w-full" />
      </div>
    </div>

    <div
      class="bg-white flex flex-col rounded-xl px-5 py-2 2xl:px-6 2xl:py-6 border border-[#1B202214]"
    >
      <div>
        <p class="md:text-[20px] text-[18px] 2xl:text-[24px]">Ventas totales</p>
      </div>
      <div class="flex items-center justify-between">
        <div class="">
          <h3 class="font-bold text-[20px] 2xl:text-[28px] mt-5">$56,35,262</h3>
          <p class="text-[#B7B9BA] text-[16px]">la semana pasada</p>
        </div>
        <img src="{% static 'img/stat2.png' %}" alt="money" class="max-w-[50px] 2xl:w-full" />
      </div>
    </div>

    <div
      class="bg-white flex flex-col rounded-xl px-5 py-2 2xl:px-6 2xl:py-6 border border-[#1B202214]"
    >
      <div>
        <p class="md:text-[20px] text-[18px]2xl:text-[24px]">
          Total de productos
        </p>
      </div>
      <div class="flex items-center justify-between">
        <div class="">
          <h3 class="font-bold text-[20px] 2xl:text-[28px] mt-5">$4,262</h3>
          <p class="text-[#B7B9BA] text-[16px]">la semana pasada</p>
        </div>
        <img src="{% static 'img/blocks.png' %}" alt="money" class="max-w-[50px] 2xl:w-full" />
      </div>
    </div>

    <div
      class="bg-white flex flex-col rounded-xl px-5 py-2 2xl:px-6 2xl:py-6 border border-[#1B202214]"
    >
      <div>
        <p class="md:text-[20px] text-[18px] 2xl:text-[24px]">Gastos totales</p>
      </div>
      <div class="flex items-center justify-between">
        <div class="">
          <h3 class="font-bold text-[20px] 2xl:text-[28px] mt-5">$35,262</h3>
          <p class="text-[#B7B9BA] text-[16px]">la semana pasada</p>
        </div>
        <img src="{% static 'img/bank.png' %}" alt="money" class="max-w-[50px] 2xl:w-full" />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col sm:flex-col md:flex-col lg:flex-col xl:flex-row md:px-7 px-3 pb-8 w-full items-stretch gap-6 overflow-hidden"
  >
    <!-- chart -->
    <div class="flex-1 min-w-0 h-[490px] pr-0">
      <div class="h-full">
        <div
          class="bg-white h-full flex flex-col rounded-xl border border-[#1B202214] py-5 w-full"
        >
          <h3 class="text-[20px] 2xl:text-[24px] font-[500] pb-4 pl-6">
            Resumen de ventas
          </h3>
          <div class="border-b border-[#1B202214]"></div>
          <!-- Chart Container -->
          <div
            id="customLegend"
            class="flex md:gap-10 gap-[3px] flex-col md:flex-row md:items-center py-6 pl-6"
          ></div>
          <div class="flex-1">
            <canvas id="salesChart"></canvas>
          </div>
        </div>
      </div>
    </div>
    <!-- client -->
    <div
      class="xl:w-[280px] md:w-full 2xl:w-[342px] h-[490px] overflow-y-auto bg-white rounded-xl border border-[#1B202214]"
    >
      <h3
        class="px-6 py-5 text-[18px] md:text-[20px] 2xl:text-[24px] font-[500] pb-4 border-b border-[#1B202214]"
      >
        Clientes Recientes
      </h3>

      <div class="px-6 py-5 flex items-center justify-between">
        <div class="flex gap-4">
          <div>
            <img src="{% static 'img/profile1.png' %}" alt="profile-img" />
          </div>
          <div>
            <p class="text-[14px] font-bold">Socrates Itumay</p>
            <p class="text-[12px] text-[#B7B9BA]">15 Compras</p>
          </div>
        </div>
        <div>
          <p class="text-[14px]">$1,835</p>
        </div>
      </div>
      <div class="px-6 py-5 flex items-center justify-between">
        <div class="flex gap-4">
          <div>
            <img src="{% static 'img/profile2.png' %}" alt="profile-img" />
          </div>
          <div>
            <p class="text-[14px] font-bold">Json Taylor</p>
            <p class="text-[12px] text-[#B7B9BA]">18 Compras</p>
          </div>
        </div>
        <div>
          <p class="text-[14px]">$2,415</p>
        </div>
      </div>

      <div class="px-6 py-5 flex items-center justify-between">
        <div class="flex gap-4">
          <div>
            <img src="{% static 'img/profile3.png' %}" alt="profile-img" />
          </div>
          <div>
            <p class="text-[14px] font-bold">Suzika Stallone</p>
            <p class="text-[12px] text-[#B7B9BA]">21 Compras</p>
          </div>
        </div>
        <div>
          <p class="text-[14px]">$2,314</p>
        </div>
      </div>

      <div class="px-6 py-5 flex items-center justify-between">
        <div class="flex gap-4">
          <div>
            <img src="{% static 'img/profile4.png' %}" alt="profile-img" />
          </div>
          <div>
            <p class="text-[14px] font-bold">Angelina Hose</p>
            <p class="text-[12px] text-[#B7B9BA]">24 Compras</p>
          </div>
        </div>
        <div>
          <p class="text-[14px]">$2,624</p>
        </div>
      </div>

      <div class="px-6 py-5 flex items-center justify-between">
        <div class="flex gap-4">
          <div>
            <img src="{% static 'img/profile5.png' %}" alt="profile-img" />
          </div>
          <div>
            <p class="text-[14px] font-bold">Selena Deoyl</p>
            <p class="text-[12px] text-[#B7B9BA]">12 Compras</p>
          </div>
        </div>
        <div>
          <p class="text-[14px]">$1,035</p>
        </div>
      </div>

      <div class="px-6 py-5 flex items-center justify-between">
        <div class="flex gap-4">
          <div>
            <img src="{% static 'img/profile1.png' %}" alt="profile-img" />
          </div>
          <div>
            <p class="text-[14px] font-bold">Charlie Davieson</p>
            <p class="text-[12px] text-[#B7B9BA]">15 Compras</p>
          </div>
        </div>
        <div>
          <p class="text-[14px]">$1,835</p>
        </div>
      </div>
      <div class="px-6 py-5 flex items-center justify-between">
        <div class="flex gap-4">
          <div>
            <img src="{% static 'img/profile1.png' %}" alt="profile-img" />
          </div>
          <div>
            <p class="text-[14px] font-bold">Kevin S.</p>
            <p class="text-[12px] text-[#B7B9BA]">13 Compras</p>
          </div>
        </div>
        <div>
          <p class="text-[14px]">$2,814</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="rounded-xl overflow-hidden px-7 pb-8">
    <div class="pb-6 2xl:pb-7">
      <h2 class="text-[20px] 2xl:text-[24px]">Productos Recientes</h2>
    </div>

    <div class="w-full overflow-x-auto">
      <table
        class="w-full text-left bg-white border border-[#1B202214] border-collapse"
      >
        <thead class="bg-gray-50">
          <tr
            class="xl:text-[18px] md:text-[16px] 2xl:text-[22px] font-[500] border-b border-[#1B202214]"
          >
            <th
              class="px-5 2xl:px-7 py-4 2xl:py-5 font-[500] border-r border-[#1B202214] whitespace-nowrap"
            >
              Nombre del producto
            </th>
            <th
              class="px-5 2xl:px-7 py-4 2xl:py-5 font-[500] border-r border-[#1B202214] whitespace-nowrap"
            >
              Precio
            </th>
            <th
              class="px-5 2xl:px-7 py-4 2xl:py-5 font-[500] border-r border-[#1B202214] whitespace-nowrap"
            >
              Fecha de creación
            </th>
            <th
              class="px-5 2xl:px-7 py-4 2xl:py-5 font-[500] border-r border-[#1B202214] whitespace-nowrap"
            >
              Estado
            </th>
            <th
              class="px-5 2xl:px-7 py-4 2xl:py-5 font-[500] border-r border-[#1B202214] whitespace-nowrap"
            >
              Acciones
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            class="border-b border-[#1B202214] xl:text-[18px] md:text-[16px] 2xl:text-[22px]"
          >
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 flex items-center gap-3 border-r border-[#1B202214] whitespace-nowrap"
            >
              <div class="min-w-[60px]">
                <img src="{% static 'img/Rectangle1.png' %}" alt="img" />
              </div>
              Calacatta Reale
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] border-[#1B202214] whitespace-nowrap"
            >
              €750
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] border-[#1B202214] whitespace-nowrap"
            >
              10 Dec, 2025
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] border-[#1B202214] whitespace-nowrap"
            >
              Publicar
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] border-[#1B202214] text-[#1B20221A] whitespace-nowrap"
            >
              <div class="xl:pl-10">
                <button>
                  <svg
                    width="24"
                    height="6"
                    viewBox="0 0 24 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.1">
                      <circle
                        cx="2.61816"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="11.8545"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="21.0908"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </td>
          </tr>

          <tr class="border-t xl:text-[18px] md:text-[16px] 2xl:text-[22px]">
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] flex items-center gap-3 whitespace-nowrap"
            >
              <div class="min-w-[60px]">
                <img src="{% static 'img/Rectangle6.png' %}" alt="img" />
              </div>
              Carrara Eleganza
            </td>

            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              €750
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              11 Dec, 2025
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              Publicar
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] text-[#1B20221A] whitespace-nowrap"
            >
              ...
            </td>
          </tr>
          <tr class="border-t xl:text-[18px] md:text-[16px] 2xl:text-[22px]">
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] flex items-center gap-3 whitespace-nowrap"
            >
              <div class="min-w-[60px]">
                <img src="{% static 'img/Rectangle2.png' %}" alt="img" />
              </div>
              Piedra Oscura
            </td>

            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              €750
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              12 Dec, 2025
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              No publicado
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] text-[#1B20221A] whitespace-nowrap"
            >
              <div class="xl:pl-10">
                <button>
                  <svg
                    width="24"
                    height="6"
                    viewBox="0 0 24 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.1">
                      <circle
                        cx="2.61816"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="11.8545"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="21.0908"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </td>
          </tr>

          <tr class="border-t xl:text-[18px] md:text-[16px] 2xl:text-[22px]">
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] flex items-center gap-3 whitespace-nowrap"
            >
              <div class="min-w-[60px]">
                <img src="{% static 'img/Rectangle3.png' %}" alt="img" />
              </div>
              Onice Azzurro
            </td>

            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              €750
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              13 Dec, 2025
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              Publicar
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] text-[#1B20221A] whitespace-nowrap"
            >
              <div class="xl:pl-10">
                <button>
                  <svg
                    width="24"
                    height="6"
                    viewBox="0 0 24 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.1">
                      <circle
                        cx="2.61816"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="11.8545"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="21.0908"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </td>
          </tr>

          <tr class="border-t xl:text-[18px] md:text-[16px] 2xl:text-[22px]">
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] flex items-center gap-3 whitespace-nowrap"
            >
              <div class="min-w-[60px]">
                <img src="{% static 'img/Rectangle4.png' %}" alt="img" />
              </div>
              Onice Azul
            </td>

            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              €750
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              14 Dec, 2025
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] whitespace-nowrap"
            >
              No publicado
            </td>
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] text-[#1B20221A] whitespace-nowrap"
            >
              <div class="xl:pl-10">
                <button>
                  <svg
                    width="24"
                    height="6"
                    viewBox="0 0 24 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.1">
                      <circle
                        cx="2.61816"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="11.8545"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="21.0908"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </td>
          </tr>

          <tr class="border-t xl:text-[18px] md:text-[16px] 2xl:text-[22px]">
            <td
              class="px-5 2xl:px-7 py-4 2xl:py-5 border-r border-[#1B202214] flex items-center gap-3 whitespace-nowrap"
            >
              <div class="min-w-[60px]">
                <img src="{% static 'img/Rectangle5.png' %}" alt="img" />
              </div>
              Onice Azul
            </td>

            <td class="px-7 py-5 border-r border-[#1B202214] whitespace-nowrap">
              €750
            </td>
            <td class="px-7 py-5 border-r border-[#1B202214] whitespace-nowrap">
              15 Dec, 2025
            </td>
            <td class="px-7 py-5 border-r border-[#1B202214] whitespace-nowrap">
              No publicado
            </td>
            <td
              class="px-7 py-5 border-r border-[#1B202214] text-[#1B20221A] whitespace-nowrap"
            >
              <div class="xl:pl-10">
                <button>
                  <svg
                    width="24"
                    height="6"
                    viewBox="0 0 24 6"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <g opacity="0.1">
                      <circle
                        cx="2.61816"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="11.8545"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                      <circle
                        cx="21.0908"
                        cy="2.61816"
                        r="2.61816"
                        fill="#1B2022"
                      />
                    </g>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

{% endblock %}
