{% extends "base.html" %}
{% load static %}
{% block title %}Login | Obra{% endblock %}

{% block content %}
    <section class="h-screen grid grid-cols-1 lg:grid-cols-2">
      <div class="hidden lg:block bg-cover bg-center" style="background-image: url('{% static "img/banner.png" %}')">
      </div>
      <div class="flex justify-center items-center">
        <div
          class="w-full max-w-[663px] h-auto px-6 py-10 md:px-10 md:py-12 2xl:w-[663px] 2xl:h-[737px] 2xl:py-[136px] 2xl:px-[114px] text-center [font-family:'Plus_Jakarta_Sans',sans-serif] "
        >
          <h5 class="text-[28px] md:text-[36px] 2xl:text-[42px] font-bold">
            Iniciar sesión
          </h5>
          <p
            class="mt-[12px] text-[14px] md:text-[16px] 2xl:text-[20px] 2xl:text-nowrap"
          >
            <span class="text-[#B7B9BA] font-normal"
              >¿Aún no tienes una cuenta?</span
            >
            <span class="text-[#1B2022]">Regístrese aquí</span>
          </p>
          <a
            href=""
            class="flex items-center justify-center py-[13px] border border-[#1B20221A] rounded-[5px] mt-[21px] gap-[9px]"
          >
            <img src="{% static 'img/google.png' %}" alt="google" />
            Iniciar sesión con Google
          </a>
          <p class="flex justify-center items-center gap-x-[10px] py-[15px]">
            <span class="hidden md:block"              ><svg
                width="200"
                height="1"
                viewBox="0 0 200 1"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="4.37114e-08"
                  y1="0.5"
                  x2="200"
                  y2="0.500017"
                  stroke="#1B2022"
                  stroke-opacity="0.08"
                />
              </svg>
            </span>
            <span class="font-medium text-[20px]">O</span>
            <span class="hidden md:block"
              ><svg
                width="200"
                height="1"
                viewBox="0 0 200 1"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line
                  x1="4.37114e-08"
                  y1="0.5"
                  x2="200"
                  y2="0.500017"
                  stroke="#1B2022"
                  stroke-opacity="0.08"
                />
              </svg>
            </span>
          </p>
                  {% if error %}
            <div class="mb-4 p-3 text-sm text-red-700 bg-red-100 rounded-md border border-red-200">
                {{ error }}
            </div>
        {% endif %}
            <form method="post">
            {% csrf_token %}
          <label class="flex flex-col items-start gap-y-[10px] w-full ">
            Dirección de correo electrónico
            <input
              type="email"
              id="email"
              name="email"
              required
              class="border border-[#1B20221A] rounded-[5px] w-full h-[47px]"
            />
          </label>
          <div class="relative mt-[20px]">
            <label class="flex flex-col items-start gap-y-[10px]">
              Contraseña
              <input
                type="password"
                id="password"
                name="password"
                required
                class="border border-[#1B20221A] rounded-[5px] w-full h-[47px]"
              />
            </label>
            <p
              class="text-[#B7B9BA] text-[14px] font-medium absolute right-0 top-0"
            >
              ¿Olvidó su contraseña?
            </p>
          </div>
        <button
        class="w-full md:w-auto hover:bg-[#2b303254]
         text-[13px] font-medium py-[14px] px-[36px]
         uppercase bg-[#2B3032] text-white mt-[24px]
         rounded-[70px]"
>

            Iniciar sesión
          </button>
        </div>
      </div>
    </section>
    
{% endblock %}