<div class="bg-white border rounded-lg p-4 grid grid-cols-2 gap-4">

  <div>
    <label class="text-sm">Base Price</label>
    {{ form.base_price }}
  </div>

  <div>
    <label class="text-sm">Box Price</label>
    {{ form.box_price }}
  </div>

  <div>
    <label class="text-sm">Pieces / Box</label>
    {{ form.no_of_pieces_per_box }}
  </div>

  <div>
    <label class="text-sm">Unit Type</label>
    {{ form.unit_type }}
  </div>

  <div>
    <label class="text-sm">Thickness</label>
    {{ form.thickness }}
  </div>

  <div>
    <label class="text-sm">Weight</label>
    {{ form.weight }}
  </div>

  <div>
    <label class="text-sm">Width</label>
    {{ form.width }}
  </div>

  <div>
    <label class="text-sm">Height</label>
    {{ form.height }}
  </div>

  <div>
    <label class="text-sm">Length</label>
    {{ form.length }}
  </div>

</div>
